CONFIG_SPECTRA_ISP=y
CONFIG_SPECTRA_ICP=y
CONFIG_SPECTRA_JPEG=y
CONFIG_SPECTRA_SENSOR=y
CONFIG_SPECTRA_FD=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_TZ_DCP_API_VER_2=y
CONFIG_SECURE_CAMERA_25=y
CONFIG_CAM_KTHREAD_WORKER=y
CONFIG_MSM_GLOBAL_SYNX_V2=y
CONFIG_CAM_ENABLE_SOCCP=y
